<!DOCTYPE html>
<html lang="zh" xml:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>分数管理-打分</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-8">

<div class="flex items-center justify-between mb-6">
    <a href="/index" class="text-blue-500">&larr; 返回</a>
    <h1 class="text-3xl font-bold">打分</h1>
    <!-- Other content goes here -->
</div>

<!-- 分数列表 -->
<table class="w-full border-collapse border">
    <thead>
    <tr>
        <th class="border p-2">课程</th>
        <th class="border p-2">班级</th>
        <th class="border p-2">姓名</th>
        <th class="border p-2">分数</th>
<!--        <th class="border p-2">操作</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="studentScore:${list}" class="hover:bg-gray-200">
        <td class="border p-2" th:text="${studentScore.subject.name}"></td>
        <td class="border p-2" th:text="${studentScore.student.grade+studentScore.student.major}"></td>
        <td class="border p-2" th:text="${studentScore.student.username}"></td>
        <td class="border p-2">
            <label>
                <input type="number" th:value="${studentScore.score.score}"/>
            </label>
        </td>
<!--        <td class="border p-2">-->
<!--            <a th:href="@{/score/edit(id=${studentScore.id})}" class="text-blue-500 mr-2">更改</a>-->
<!--            <a th:href="@{/score/delete(id=${studentScore.id})}" class="text-red-500">删除</a>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
</body>

</html>
