<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyh.grade_management_system.mapper.UserMapper">
    <select id="selectUserByUsername" resultType="com.lyh.grade_management_system.bean.User">
        select *
        from user
        where username = #{username}
    </select>
    <select id="selectList" resultType="com.lyh.grade_management_system.bean.User">
        select *
        from user
    </select>
    <insert id="insertUser" parameterType="com.lyh.grade_management_system.bean.User">
        insert into user(username, password, role, grade, clazz_id, major)
        values(#{username}, #{password}, #{role}, #{grade}, #{clazzId}, #{major})
    </insert>
    <update id="updateUser" parameterType="com.lyh.grade_management_system.bean.User">
        update user
        set username = #{username}, password = #{password}, role = #{role}, grade = #{grade}, clazz_id = #{clazzId}, major = #{major}
        where id = #{id}
    </update>
    <delete id="deleteUser">
        delete
        from user
        where id = #{id}
    </delete>
    <select id="selectUserById" resultType="com.lyh.grade_management_system.bean.User">
        select *
        from user
        where id = #{id}
    </select>
    <select id="selectListByClazzId" resultType="com.lyh.grade_management_system.bean.User">
        select *
        from user
        where clazz_id = #{clazzId}
    </select>
</mapper>